{{ attach_library('teasearch/carousel') }}
<div class="swiper-slide">
  <div class="news-thumbnail">
    {{ fields.field_image.content }}
  </div>
  <div class="news-title">
    <h3>{{ fields.title.content }}</h3>
  </div>
  <div class="news-body">
    {{ fields.body.content }}
  </div>
</div>

