<div	class='teasearch-introblock white-border'>
	<div	class='introblock-title text-bold'>
		{{ content.field_title }}
	</div>
	<div	class='introblock-body'>
		{{ content.body }}
	</div>
	<div	class='introblock-link'>
		{{ content.field_link }}
	</div>
</div>
